:root{
    --background: #000;
    --background-header:#ffffff;
    --background-nav:red;
    --background-hover:yellow;
    --font-nav:2.5rem;
    --background-btn-agregar: green;
    --background-btn-quitar: red;

}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background);
    font-family: 'Lobster', cursive;
    font-size: 1rem;
}

/*Header*/

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: var(--background-header);
    color: var(--background);
}


/*imagenes*/
img{
    border-radius: 5%;
    width: 70%;
    height: 30%;
    object-fit: cover;
}

/*Titulos, subtitulos etc*/
h1{
    height: 50%;
    width: 50%;
    text-align: center;
    margin:0 auto;
}

h2{
   
    font-size: 3rem;

}

h3{
    display: inline-block;
    margin: 1rem auto;
    font-size: 2.5rem;
    padding: 1rem;
    border: 1px solid var(--background-nav);
}
h4{
    font-size: 1.5rem;
}

/*Menu*/

aside{
    position: fixed;
    right: 2rem;
    bottom: 1rem;
    height: 5rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    background-color: var(--background-header);
    z-index: 999;
    border:3px solid var(--background);
    border-radius: 5%;
}
.menu-label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

 span{
     width: 50%;
 }

 span::after,span::before{
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--background);
    margin-bottom: 0.5rem ;
}

/*nav*/
nav{
    display: none;
}

#toggle-nav{
    display: none;
}



#toggle-nav:checked ~ nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    opacity: 0.5;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: var(--background-nav);
    z-index: 998;
}

a{
    text-decoration: none;
    font-size: var(--font-nav);
    color: var(--background);
    padding: 2rem;
    opacity: 1;
}

/*main*/

/*
 main{
    text-align: center;
    color: var(--background-header);
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
}

.categorias-pizzeria{
    display: flex;
    justify-content: center;
    align-items: center;
}

.categoria{
    width: 22rem;
    height: 30rem;
    margin-left: 1.5rem;
    background-color: var(--background-header);
}

*/

main{
    text-align: center;
    color: var(--background-header);
    
}

.categorias-pizzeria{
    color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categoria{
    width: 90%;
    height: 30rem;
    margin-bottom: 1.5rem;
    background-color: var(--background-header);
}

.elementos-categoria{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    height: 70%;

}

button{
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
}

.boton-agregar{
    background-color: var(--background-btn-agregar);
}

.boton-restar{
    background-color: var(--background-btn-quitar);
}


/*hover*/

a:hover,a:focus{
    background-color: var(--background-hover);
}

